
@{
    ViewBag.Title = aztuKonfrans2.Resources.Resource.error;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-404 text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>404</h1>
                <p>@aztuKonfrans2.Resources.Resource.error</p>
            </div>
        </div>
    </div>
</div>

