
@{
    ViewBag.Title = aztuKonfrans2.Resources.Resource.schedule;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="schedule">
    <div class="container">
        <div class="row">
            <div class="schedule_table table_section">
                <div class="row">
                    <ul class="pt_heading">
                        <li class="float-left">
                            <a href="javascript:void(0)">@aztuKonfrans2.Resources.Resource.dates</a>
                        </li>
                        <li class="float-left">
                            <a href="javascript:void(0)">@aztuKonfrans2.Resources.Resource.time</a>
                        </li>
                        <li class="float-left">
                            <a href="javascript:void(0)">@aztuKonfrans2.Resources.Resource.program</a>
                        </li>
                        <li class="float-left">
                            <a href="javascript:void(0)">@aztuKonfrans2.Resources.Resource.activity</a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <ul class="pt_row">
                        <li class="float-left">
                            <a href="javascript:void(0)"></a>
                        </li>
                        <li class="float-left">
                            <a href="javascript:void(0)"></a>
                        </li>
                        <li class="float-left">
                            <a href="javascript:void(0)"></a>
                        </li>
                        <li class="float-left">
                            <a href="javascript:void(0)"></a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</div>

